//
// User: hella
// Date: 12/27/14
// Time: 2:33 PM
// Copyright 1stdibs.com, Inc. 2014. All Rights Reserved.
//

.canvas-wrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}